# Entornos virtuales
venv/
*.env
# Archivos compilados de Python en cualquier carpeta
__pycache__/
**/__pycache__/

# Archivos temporales de Python
*.pyc
*.pyo
*.pyd
# Carpetas de IDEs (opcional)
.idea/
.vscode/